*{
    font-family: "Poppins", sans-serif;
    color: #fff;
}
.outer-container{
 background-color: #28282B;   
}
.img{
    width: 200px;
}
.container{
    padding: 10px 20px;
}
.btn-1{
    margin-bottom: 10px;
}
.title{
    font-size: 20px;
}
.input-box input,select{
    padding: 7px 10px;
    border-radius: 30px;
    border: 2px solid #fff;
    background: none;
    margin-bottom: 5px;
}
option{
    color: #28282B;
}
.btn{
    padding: 10px 20px;
    border-radius: 30px;
    border: none;

}
.star label::after{
    content: "*";
    color: red;
}
