@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body{
    font-family: "Nunito Sans", sans-serif;
  
}
.test{
    border: 5px solid red;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
img{
    width: 60%;
    /* background-color: #212529;
    padding: 20px 35px;
    border-radius: 25px; */
}
.dropdown-toggle{
   text-align: center;
}
.zero{
    margin: 0;
    padding: 0;
    border: 0;
}
.required:after {
    content:" *";
    color: red;
  }
