*{
    font-family: "Poppins", sans-serif;
}
.outer-container{
 border: 2px solid;    
}
.img{
    width: 350px;
}
.container{
    padding: 20px;
}
.btn-1{
    margin-bottom: 10px;
}
.title{
    font-size: 20px;
}